@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './base.css';
@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

body{
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  padding: 1% 0 1% 0;
  background-color: black;
  opacity: 0.9;
}

.section1 {
  background-image: url('@/assets/img/gray-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img{
    margin: 15% 0 5% 0;
  }
  span{
    font-weight: 900;
    color:aquamarine;
  }
}

.section2{
  span{
    font-weight: 900;
    color: gray;
  }
}

.section3{
  background-image: url('@/assets/img/gray-bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

